button{
	padding: 10px 16px;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	background-color: #fc6203;
}

button:hover{
	background-color: #fa874d;
	transform: translateY(-2px);
}

button:disabled{
	cursor: default;
	background: #ccc;
	color:black;
	transform: translateY(0px);
}