@import url(./button.css);

header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 1.5rem;
}

nav{
	display: flex;
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
	gap: 1.5rem;
}
