input {
  width: 30vw;
  padding: 12px;
  border: none;
	background-color: #ccc;
  border-radius: 10px;
	resize: vertical;
	color: black;
}

input:focus{
	box-shadow: 0 0 0 0;
  outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

