.welcome{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.welcome h2{
	font-size: 46px;
	font-weight: 400;
}

.welcome span{
	font-size: 26px;
	font-weight: 200;
}